.Console {
  position: relative;
  width: 100%;

  background-color: #333;
  color: #fff;

  &_instruments {
    position: fixed;
    z-index: 1000000;
    width: 12rem;
    background-color: #333;
  }

  &_beats {
    padding-left: 12rem;
    overflow: auto;
    &_grid {
      display: grid;
    }
  }
}
